.testimonials {
    margin: 0 auto;
    padding: 30px 0;
    max-width: 100dvw;
    overflow: hidden;
    @media screen and (min-width: 1024px) {
        padding: 60px 0;
    }
    .full-width {
        display: flex;
        padding: 1.875rem 0;
        @media screen and (min-width: 1024px) {
            padding: 3.75rem 0;
        }
    }
    .swiper-wrapper {
        display: flex;
        align-items: stretch;
        .swiper-slide {
            width: auto !important;
            height: auto;
            display: flex;
            align-items: center;
            gap: .625rem;
            .testimonial-quote {
                margin: 0;
                max-width: 70dvw;
                @media screen and (min-width: 1024px) {
                    max-width: 40dvw;
                }
            }
        }
    }
}