.numbered-list {
    margin: 0;
    .section-body {
        text-align: center;
        margin: 0 auto;
        @media screen and (min-width: 1024px) {
            max-width: 60%;
        }
    }
    &.dark, &.blue {
        .list-item::before {
            border-color: var(--wp--preset--color--white);
        }
        .list-item-number {
            color: var(--wp--preset--color--white);
        }
        .list-item-indicator {
            border-color: var(--wp--preset--color--white);
        }
        .list-progress-line {
            background-color: var(--wp--preset--color--white);
        }
    }
    &.dark {
        .list-item-indicator {
            background-color: var(--wp--preset--color--primary);
            &.active {
                background-color: var(--wp--preset--color--secondary);
            }
        }
    }
    &.blue {
        .list-item-indicator {
            background-color: var(--wp--preset--color--secondary);
            &.active {
                background-color: var(--wp--preset--color--primary);
            }
        }
    }
    &.white {
        .list-item::before {
            border-color: var(--wp--preset--color--primary);
        }
        .list-item-number {
            color: var(--wp--preset--color--primary);
        }
        .list-item-indicator {
            border-color: var(--wp--preset--color--primary);
            background-color: var(--wp--preset--color--white);
            &.active {
                background-color: var(--wp--preset--color--secondary);
            }
        }
        .list-progress-line {
            background-color: var(--wp--preset--color--primary);
        }
    }
    .list {
        padding: 0;
        margin: 30px auto 0;
        display: grid;
        grid-template-columns: auto;
        position: relative;
        @media screen and (min-width: 1024px) {
            margin: 60px auto 0;
            width: max-content;
        }
        &-progress-line {
            position: absolute;
            left: 9px;
            top: 0;
            width: 3px;
            height: 0;
            transform-origin: top;
            transition: height 0.1s linear;
            z-index: 1;
        }
        &-item {
            display: grid;
            grid-template-columns: auto auto 1fr;
            grid-template-rows: auto auto;
            grid-gap: 1rem;
            padding-bottom: 2rem;
            position: relative;
            @media screen and (min-width: 1024px) {
                max-width: 600px;
                padding-bottom: 4rem;
            }
            &::before {
                content: "";
                display: block;
                position: absolute;
                left: 9px;
                top: 0;
                width: 3px;
                height: 100%;
                border-left-width: 3px;
                border-left-style: dashed;
                z-index: 0;
            }
            &:last-child {
                padding-bottom: 0;
                /*&::before {
                    display: none;
                }*/
            }
            &-indicator {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border-width: 3px;
                border-style: solid;
                grid-column: 1/2;
                z-index: 1;
                transition: all 0.3s ease;
            }
            &-number {
                line-height: 1;
                font-weight: 600;
                grid-column: 2/3;
                &::after {
                    content: ".";
                    display: inline;
                }
            }
            &-number, &-title {
                margin: 0;
            }
            &-content {
                margin: 0;
                grid-column: 2/4;
            }
        }
    }
}