.block-editor-block-list__block .wp-block-lone-pine-digital-hero-home {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5rem;

    .block-editor-rich-text__editable {
        font-size: var(--wp--preset--font-size--18);
    }
}