.faqs {
    .section-heading {
        margin-bottom: 4rem;
    }
    .faq-list {
        .faq {
            border-bottom: 3px solid var(--wp--preset--color--eggshell);
            margin-bottom: 1.5rem;
            cursor: pointer;
            .faq-question {
                padding-bottom: 1rem;
                display: grid;
                grid-template-columns: 1fr auto;
                width: 100%;
                appearance: none;
                cursor: inherit;
                background: none;
                border: none;
                text-align: left;
                margin: 0;
                h3 {
                    margin: 0;
                    font-weight: 400;
                    padding-right: 1rem;
                    @media screen and (max-width: 1023px) {
                        font-size: var(--wp--preset--font-size--24);
                    }
                }
                .icon {
                    width: 1.5rem;
                    height: auto;
                    transform: rotate(-90deg);
                    transition: all .25s ease;
                    &.open {
                        transform: rotate(0deg);
                    }
                }
            }
            .faq-answer {
                padding-bottom: 1rem;
            }
        }
    }
    &.eggshell, &.celadon {
        .faq {
            border-bottom: 3px solid var(--wp--preset--color--evergreen);
            .faq-question {
                color: var(--wp--preset--color--evergreen);
            }
        }
    }
    &.evergreen {
        .faq {
            .faq-question {
                color: var(--wp--preset--color--eggshell);
            }
        }
    }
}